<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>材料学习下载</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <script type="text/javascript" src="../../static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../../static/js/index.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/for_css/reset.css"/>
    <script type="text/javascript" src="../../static/js/for_js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/plugins/FlexSlider/flexslider.css">
    <script type="text/javascript" src="../../static/plugins/FlexSlider/jquery.flexslider.js"></script>
    <script type="text/javascript" src="../../static/js/for_js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/for_css/thems.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/for_css/responsive.css">
    <script type="text/javascript" src="../../static/js/file_download.js"></script>
    <script type="text/javascript" src="../../static/js/admin_login.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/theme.css">

<script language="javascript">
$(window).load(function() {
  $('.flexslider').flexslider({
	animation: "slide"
  });
});
</script>
</head>

<body onload="select()" class="flat-blue sidebar-collapse" background="../../static/images/login_pic.JPG">
<!--头部-->
<div class="header">
    <div class="head clearfix">
        <div class="logo"><a href=""><img src="../../static/images/for_image/logo.png" alt="深海湾"/></a></div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="nav_m">
        <div class="n_icon">&nbsp;</div>
        <ul class="nav clearfix">
            <li><a href="index.html">首页</a></li>
            <li class="now"><a href="#">学习材料下载</a></li>
            <li><a href="organization_life.html">组织生活制度</a></li>
            <li><a href="organization_info.html">组织生活信息</a></li>
            <li><a href="theme_study.html">专题学习</a></li>
            <li><a href="life_time.html">定期提醒</a></li>
        </ul>
    </div>
</div>
<div class="content-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <span class="page-title red"><h3>系统用户-材料下载页面</h3></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="page-title"><h4>文件列表</h4></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id = "myTable" class="content-block">
                    <div class="block-content">
                        <table id="example" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
<!--                                <th class="hidden">id</th>-->
                                <th>文件名称</th>
                                <th>上传时间</th>
                                <th>上传人</th>
                                <th>所属总部</th>
                                <th>下载次数</th>
                            </tr>
                            </thead>
                            <tbody id="t_body">
                            </tbody>
                        </table>
                    </div>
                    <div id="page" style="text-align:center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
